@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/NotoSansCJKjp-Thin.eot");
	src: url("../fonts/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-Thin.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-Thin.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/NotoSansCJKjp-Light.eot");
	src: url("../fonts/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-Light.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-Light.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/NotoSansCJKjp-DemiLight.eot");
	src: url("../fonts/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-DemiLight.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-DemiLight.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSansCJKjp-Regular.eot");
	src: url("../fonts/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/NotoSansCJKjp-Medium.eot");
	src: url("../fonts/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-Medium.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSansCJKjp-Bold.eot");
	src: url("../fonts/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-Bold.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/NotoSansCJKjp-Black.eot");
	src: url("../fonts/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansCJKjp-Black.woff") format("woff"),
	     url("../fonts/NotoSansCJKjp-Black.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans Mono CJK JP";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSansMonoCJKjp-Regular.eot");
	src: url("../fonts/NotoSansMonoCJKjp-Regular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansMonoCJKjp-Regular.woff") format("woff"),
	     url("../fonts/NotoSansMonoCJKjp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans Mono CJK JP";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSansMonoCJKjp-Bold.eot");
	src: url("../fonts/NotoSansMonoCJKjp-Bold.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/NotoSansMonoCJKjp-Bold.woff") format("woff"),
	     url("../fonts/NotoSansMonoCJKjp-Bold.otf") format("opentype");
}
